@model IEnumerable<TestResultsViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Tests" asp-action="RunTests" class="btn btn-primary">Run tests</a>
</div>
